<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/foundation.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <style>
        body         { padding-top:80px; }
    </style>
</head>
<body>

  <div class="row">
    <div class="medium-12 columns panel expand">
      <h1 class="text-center"><span class="fa fa-lock"></span> Bankr</h1>
      <h3 class="text-center">Bank Safe, Bank Smart</h3>
      <row class="medium-6 columns text-center">
        <a href="/login" class="button"><span class="fa fa-user"></span> Local Login</a>
      </row>
      <row class="medium-6 columns text-center">
        <a href="/signup" class="button"><span class="fa fa-user"></span> Local Signup</a>
      </row>
    </div>
  </div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/foundation/foundation.min.js"></script>
</body>
</html>
