<!doctype html>
<html>
<head>
  <title>Node Authentication</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/foundation.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <style>
  body {
    padding-top:80px;
  }
  .image {
    text-align: center;
    align: center;
  }
  #head {
    margin-left: 50px;
  }
  #mid {
    margin-top: 10px;
    margin-right: 25px;
  }
  </style>
</head>
<body>

  <div class="row">
    <div class="medium-12 columns panel expand">
      <div class="image">
      <img id="head" src="https://raw.githubusercontent.com/dlombardi/Bankr/master/views/banksafe.png" alt="BANK SAFE | BANK SMART">
      </div>
      <div class="image">
      <img id="mid" src="https://raw.githubusercontent.com/dlombardi/Bankr/master/views/letstart.png" alt="Let's Start">
      </div>
      <br>
      <row class="medium-6 columns text-center">
        <a href="/login" class="button"><span class="fa fa-user"></span> Local Login</a>
      </row>
      <row class="medium-6 columns text-center">
        <a href="/signup" class="button"><span class="fa fa-user"></span> Local Signup</a>
      </row>
    </div>
  </div>



  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/foundation/foundation.min.js"></script>
</body>
</html>
